.m_modal--mask {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, .9);
  display: table;
  transition: opacity .3s ease;
}

.m_modal--wrapper {
  display: table-cell;
  vertical-align: middle;
}

@t-panelWidth: 380px;

.m_modal--container {

  position: relative;
  max-height: 100vh;
  width: 90%;
  max-width: @t-panelWidth;
  overflow-y: scroll;

  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;

  &.is--large {
    max-width: @t-panelWidth * 3;
  }

  .color-red& {
    background-color: @c-rouge;
  }
  .color-blue& {
    background-color: @c-bleu;
  }
  .color-green& {
    background-color: @c-vert;
  }
  .color-yellow& {
    background-color: @c-jaune;
  }
  .color-orange& {
    background-color: @c-orange;
  }
  .color-purple& {
    background-color: @c-violet;
  }

  textarea, input, select {
    color: @c-noir;
  }
}


.m_modal--sidebar {

}
// if no preview, then sidebar takes the whole width

.m_modal--preview {
  .mediaContainer {
    height: 100%;

    &.type-text, &.type-marker {
      .padding-medium;
      .font-large;
    }
  }

  input[type="text"] {
    .border-none;
    .padding-none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.15);
  }

  textarea.mediaTextContent {
    min-height: 60vh;
    height: 100%;
    border: none;
//     width: ~"calc(100% - @{t-skipline}*2)";
    .padding-none;

    background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
    background-size: 30px 30px;
    background-attachment: local;

    background: linear-gradient(transparent, transparent ~"calc(@{t-skipline} - 2px)", rgba(0,0,0,.15) ~"calc(@{t-skipline} - 2px)");
    background-size: @t-skipline @t-skipline;
    background-attachment: local;
    background-position-y: ~"calc(@{t-skipline} * 0.85)";
  }
}

.m_modal--close_button {
  position: absolute;
  top: @t-skipline;
  right: @t-skipline;
}

.m_modal--header {
}


@media print {
  .m_timeline-container {
    display: none;
  }
  .m_modal--header {
    display: none;
  }
  .m_modal--sidebar {
    display: none;
  }
  .m_modal--footer {
    display: none;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}