// I M P O R T
@import "_stv.less";

::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}

/******************
  Mixins
  ********************/

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

body {
  &.is_unscrollable {
    overflow: hidden;
  }
}

img, video, audio, svg {
	display: block;
	min-width: 100%;
	width:100%;
}

input:required {
  background-size: 16px 16px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: radial-gradient(transparent 10%,#FF3E51 18%,transparent 25%);
}

.alertify-logs {
  z-index: 10000;
}

/************************************************************************

      APP

************************************************************************/

#app {
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-decoration: underline;
  color: @c-vert;
  font-style: italic;
}

main {


  >*:first-child {
    margin-top: 0;
  }
}

