// I M P O R T
@import (inline) "shoelace/variables.css";
@import (inline) "shoelace/forms.css";
@import (inline) "shoelace/tables.css";
@import "_stv.less";

@import "../../node_modules/vue2-animate/src/vue2-animate.less";


::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}


:root {
  --body-color: black;
  --body-bg-color: #fff;
  --table-stripe-bg-color: #eee;
  --color-primary: #666;
  --font-family: 'STVitry';
  --font-size: 1rem; /* Most browsers use a default font size of 16px */
  --input-font-size: 1rem;
}


@t-navbarheight: 60px;

/******************
  Mixins
  ********************/

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

body {
  margin-top: 0;
  padding-top: 0em;
  &.is_unscrollable {
    overflow: hidden;
  }
  @media (max-width: @screen-sm-max) {
    margin: 0;
  }
}

img, video, audio, svg {
	display: block;
	min-width: 100%;
	width:100%;
}

input:required {
  background-size: 16px 16px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: radial-gradient(transparent 10%, @c-rouge 18%,transparent 25%);
}
th {
  font-weight: normal;
}



.alertify-logs {
  z-index: 10000;
}

.scroll-handle {
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 20px;
  background: #ff0000;
  z-index: 10000;
  cursor: -webkit-grab;
  cursor: -moz-grab;

  .grabbed {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

/************************************************************************

      APP

************************************************************************/

#app {
  width: 100%;
  margin: 0 auto;
}

.navbar_top {
  position: relative;
  width: 100%;

  & > .wrapper {
    width: 100%;
    height: @t-navbarheight;
    background-color: #f2f2f2; // @c-gris_light
    border-bottom: 1px solid black;
  }
  .bloccontainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display:flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .menu_icon {
    flex: 0 0 @t-navbarheight;
    height: 100%;
    padding: 20px;
    background-color: transparent;
  }
  .menu_icon svg {
    height: 20px;
    width: 20px;
    position: relative;
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000;
    stroke: transparent;
    stroke-width: 1;
  }

  .breadcrumb {
    margin: 0;
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
    list-style: none;
  }

  .breadcrumb > li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
    padding: 3px;
  }
  .breadcrumb > li + li:before {
    content: "/";
    padding-right:6px;
  }
}


h1 {
  text-decoration: underline;
  color: @c-bleu;
  font-style: italic;
}

.pushContentDown {
  height: @t-skipline * 4;
  margin-top: 0.3em;
  &.is--collapsed {
    display: none;
  }
}
main {

  > *:first-child {
    margin-top: 0;
  }
}

.card_folder_container {
  margin-top: @t-skipline;
}

.card_folder {
  .make-md-column(14/3);
  margin-bottom:  @t-skipline*2;

  .folder {
    min-height: @t-skipline * 3;
    background-color: white;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * {
    padding: @t-skipline/2;
  }
  &:nth-child(3n+1) {
//     .make-md-column-offset(1);
    clear:left;
  }

}

.alertify-logs>*, .alertify-logs>.default {
  background-color: @c-gris;
}

.m_timeline {
  position: relative;
  overflow-x: scroll;
  overflow-x: overlay;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 80px;
    height: 20px;

    &:hover {
      cursor: -webkit-grab;
      cursor: -moz-grab;
    }

    * {
      background-color: transparent;
    }
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @c-bleu;
    outline: 1px solid @c-bleu;
  }
//   margin-right:   50px;

  .m_timeline-container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 25vw;
    border-right: 1px solid black;
    transition: margin 0.5s ease-out;

    &.with--sidebar_opened {
      left:  ~"calc(25vw + 500px)";
    }

    // stupid trick to add some space to the right of this div without affecting its width
    &::after {
      content:'';
      display: block;
      position: absolute;
      right: -50px;
      width: 1px;
      height: 1px;
    }


    &.is--realtime {
      border-right: 4px solid @c-rouge;
    }
  }
}
.mediaPreview {
  position: absolute;
  width: 1px; height: 1px;
  transition: transform .7s ease-in-out;

  .media {
    position: absolute;
    right:0;
    top: 0;
    pointer-events: none;

    @t-anchor: 20px;

    .mediaScrubber {
      position: absolute;
      height: @t-anchor;
      right: 0;
      text-align: right;
      top: -@t-anchor/2;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
    }

    .accroche {
      position: absolute;
      width: @t-anchor;
      height: @t-anchor;
      z-index: 10;
      border-radius: 50%;
      color: white;
      background-color: currentcolor;
      min-height: 0;
      display: block;
      pointer-events: auto;
//       font-size:0;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

      &:focus {
        outline: none;
      }

      &_droite {
        right: -@t-anchor/2;
      }
      &_gauche {
        left: -@t-anchor/2;
      }
    }

    .type-marker& {
      @t-marker_anchor: 10px;
      .mediaScrubber {
      }
      .accroche {
        transform-origin: center center;
        transform: scale(0.5);
        background-color: @c-bleu;
      }

      .timelineMediaContent {
        background-color: transparent;
        height: 1em !important;
      }

    }

    .color-red& {
      .accroche {
        background-color: @c-rouge;
      }
    }
    .color-blue& {
      .accroche {
        background-color: @c-bleu;
      }
    }
    .color-green& {
      .accroche {
        background-color: @c-vert;
      }
    }
    .color-yellow& {
      .accroche {
        background-color: #FFF000;
      }
    }
    .color-orange& {
      .accroche {
        background-color: #FFBE32;
      }
    }
    .color-purple& {
      .accroche {
        background-color: #b357c1;
      }
    }

    .accrocheDurationLine {
      height: 4px;
      width: 100%;
      background-color: @c-bleu;
      z-index: 9;
    }

    .button_openmedia {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;

      margin: @t-skipline/2;
      background-color: rgba(255,255,255,1);

      opacity: 0;

      transition: opacity 0.3s ease-out;
    }
  }




  &.is--hovered, &.is--dragged, &.is--highlighted {
    z-index: 1000;
    .accroche {
      color: @c-bleu;
    }

    .button_openmedia {
      opacity: 1;
    }
  }

  .timelineMediaContent {
    width:100%;
    height:100%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    transform-origin: top right;
    pointer-events: auto;

    cursor: -webkit-grab;
    cursor: -moz-grab;

    border: 2px solid #fff;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);

    transition: transform .2s ease-out;

    .mediaContainer {
      opacity: 1;

      &.type-audio {
        width: 100%;
      }
    }

    textarea {
      min-height: 120px;
      overflow: hidden;
    }
  }


  &.is--collapsed:not(.is--highlighted) .timelineMediaContent {
    transform: scale(0);
  }
  &.has--duration.is--collapsed:not(.is--highlighted) .timelineMediaContent {
    transform: scaleY(0);
  }
  &.is--dragged {
    transition: none;
    .timelineMediaContent {
      border: 2px solid @c-bleu;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }
  }

}

.m_addMedia {
  position: fixed;
  bottom: 20px;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;

  button, .dz-message {
    box-shadow: 2px 4px 13px #bbb;
  }


  > * {
    flex: 0 0 auto;
    pointer-events: auto;
    margin-right: @t-skipline * 2;

    &.dropzone {
      border: 1px solid @c-gris;
      margin-right: 0;
    }
  }
}


.m_sidebar {
  position: fixed;
  z-index:  1500;
  max-width: 500px;
  width: 90%;
  height: 100vh;
  height: ~"calc(100vh - 60px)";
  overflow-y: scroll;

  background-color: @c-gris_light;
  border-right: 1px solid #000;

  box-shadow: -2px 4px 13px #bbb;

  .intro {
    padding: var(--table-spacing-y) var(--table-spacing-x);
  }

  ul, li {
    padding: 0; margin: 0;
  }

  table {
  }
}

.btnDayNav {
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  height: 20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;

  pointer-events: none;

  > * {
    height: 20px;
    flex: 0 0 auto;

    pointer-events: auto;
    transition: opacity 0.4s ease-out;

    &.btnDayNav--prev {
    }
    &.btnDayNav--next {
    }
  }
}




.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 0.2s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}


