// I M P O R T
@import (inline) "shoelace/variables.css";
@import (inline) "shoelace/forms.css";
@import (inline) "shoelace/tables.css";
@import "../../node_modules/vue2-animate/src/vue2-animate.less";

@import "_normalize";
@import "_variables";
@import "_globals";
@import "_calendar";
@import "_timeline";
@import "_fileupload";
@import "_media";
@import "_modal";

::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}




* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'STVitry', monospace;
  font-weight: 400;
  margin: 0;

  font-size: @t-fontsize;
  line-height: @t-lineheight;
  color: black;
  background-color: @c-bg_timeline;

}


/******************
  Mixins
  ********************/

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

body {
  &.is_unscrollable {
    overflow: hidden;
  }
}


.alertify-logs {
  z-index: 10000;
}

.scroll-handle {
  position: absolute;
  bottom: 0px;
  width: 100px;
  height: 20px;
  background: #ff0000;
  z-index: 10000;
  cursor: -webkit-grab;
  cursor: -moz-grab;

  .grabbed {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

/************************************************************************

      APP

************************************************************************/

#app {
  width: 100%;
  margin: 0 auto;
}

.m_home {

  .stvlogo {
    width: 75px;
    height: 50px;
    min-width: 0;
    flex-grow:0;
  }


}

.m_home--filtres {

}

.m_home--folders {
  .m_home--folders--card {
    width: 235px;
    min-height: 235px;
    background-color: white;
    float: left;

    &:nth-child(3n + 1) {
      clear:left;
    }
  }

}


.navbar_top {
  position: relative;
  width: 100%;

  & > .wrapper {
    width: 100%;
    background-color: @c-bg_navbar;
    color: white;

    letter-spacing: 0.05em;
  }
  .bloccontainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;

    > * {
      flex: 1 1 40%;
      min-height: @t-navbarheight;
    }
    > .visibleDay {
      flex: 0 0 10%;
    }

  }

  .menu_icon {
    flex: 0 0 @t-navbarheight;
    height: 100%;
    background-color: transparent;

    display: flex;
    align-items: center;

  }
  .menu_icon svg {
    display: block;
    height: 26px;
    width: 40px;

    margin: 0 auto;
  }
  .breadcrumb {
    margin: 0;
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .breadcrumb > .breadcrumb--item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
  }
  .breadcrumb > .breadcrumb--item + .breadcrumb--item::before {
    content: "›";
    margin: @t-spacing/2;
  }

  .visibleDay {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .scaleSwitch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row wrap;
  }

  a {
    text-decoration: none;
  }
}


.alertify-logs>*, .alertify-logs>.default {
  background-color: @c-gris;
}

@t-button_sidebartoggle: 60px;

.button_sidebarToggle {
  position: absolute;
/*
  top: 46%;
  top:~"calc(50% - @{t-button_sidebartoggle}/3)";
*/
  top: 140px;

  width: @t-button_sidebartoggle;
  height: @t-button_sidebartoggle;
  left: @t-sidebarWidth - @t-button_sidebartoggle/2;
  background-color: @c-noir;
  color: white;

  text-align: right;
  border-radius: 10%;

  transform: translateX(0);
  transition: transform .35s ease-out, opacity .45s;

  z-index:  1499;

  &.is--collapsed {
    transform: translateX(-@t-sidebarWidth);
    transition: transform .35s ease-in;
  }
}

.m_sidebar {
  position: absolute;
  max-width: @t-sidebarWidth;
  width: 80%;
  height: 100vh;
  height: ~"calc(100vh - 60px)";
  overflow-y: scroll;

  background-color: @c-bg_sidebar;
  border-right: 1px solid @c-noir;

  z-index:  1500;

  .intro {
  }

  ul, li {
    padding: 0; margin: 0;
  }

  table {
  }

  .m_sidebarList {
    tr.is--outOfScope {
      background-color: @c-gris_verylight;
      border-left: 4px solid @c-rouge_vif;
    }
  }
}


.m_footer {
  margin: @t-skipline*6 0 @t-skipline*4;
  color: @c-gris;
  width: 100%;
  > * {
  }
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 0.2s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.sidebar-animation-enter-active, .sidebar-animation-leave-active {
  transform: translateX(0);
  transition: transform .35s ease-out, opacity .45s;
}
.sidebar-animation-enter, .sidebar-animation-leave-to {
  transform: translateX(-@t-sidebarWidth);
  transition: transform .35s ease-in, opacity .45s;
//   opacity: 0;
}






