// FONT SIZE
$buttonFont: 1rem;
$titlePopUpFont: 1.5em;
$h2Size: 1.8em;

// T A I L L E S
$margin: 16px;
$marginrem: .9375rem;
$t-navbarheight: 70px;

// C O L O R S
$c-creme: #FCFCFA;
$c-gris: #B9B9B9;
$c-gris_clair: #EBEBEB;
$c-gris_fonce: #535353;
$c-noir: #353535;

