// I M P O R T

@import "_shoelace.scss";
@import "_variables.scss";
@import "_fonts.scss";

::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}

:root {
  --body-color: black;
  --body-bg-color: #fff;
  --table-stripe-bg-color: #eee;
  --color-primary: #666;
}

/******************
  Mixins
  ********************/

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;

  &.is_unscrollable {
    overflow: hidden;
  }
}

img, video, audio, svg {
	display: block;
	min-width: 100%;
	width:100%;
}

input:required {
  background-size: 16px 16px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: radial-gradient(transparent 10%,#FF3E51 18%,transparent 25%);
}

.alertify-logs {
  z-index: 10000;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}


#app {
  max-width: 72em;
  width: 100%;
  margin: 0 auto;
}