// I M P O R T

@import "_shoelace.scss";
@import "_variables.scss";
@import "_fonts.scss";

::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}

:root {
  --body-color: black;
  --body-bg-color: #f2f2f2;
}

/******************
  Mixins
  ********************/

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

img, video, audio, svg {
	display: block;
	min-width: 100%;
	width:100%;
}