doctype html
html
  include snippets/head
  body
    .drop-files-container
      .instructions déposez ici les slides à ajouter
    input(id="upload-input" type="file" name="uploads[]" multiple="multiple")

    a.btn.btn_retour(href="/")
      | ←


    include snippets/footer
