doctype html
html
  include snippets/head
  body
    include snippets/header

    a.btn.btn_retour(href="/")
      | ←

    .drop-files-container
      .instructions déposez ici les slides à ajouter
    input(id="upload-input" type="file" name="uploads[]" multiple="multiple")

    #vue
      h2 Vue
      <media v-for='(folder, index) in store' :key='index' :slug='index' :folder='folder'>
      </media>

    include snippets/footer
