doctype html
html
  include snippets/head
  body
    include snippets/header

    #intro
      h1 stv-doc

    #vue
      <folder v-for='(folder, index) in store.folders' :key='index' :slug='index' :folder='folder'>
      </folder>

    include snippets/footer