doctype html
html
  include snippets/head
  body(data-page='index' class=isDebug && 'is--debug')

    #intro
      h1 stv-doc

    #vue
      h2 Vue
      <folder v-for='(folder, index) in store' :key='index' :slug='index' :folder='folder'>
      </folder>

    include snippets/footer

