doctype html
html
  include snippets/head
  body(data-page='index' class=isDebug && 'is--debug')

    #intro
      h1 stv-doc

    #vue
      h2 Vue
      folder(v-for='(mob, index) in store.state')

    include snippets/footer

