doctype html
html
  include snippets/head
  body
    include snippets/header

    #intro
      h1 stv-doc

    #vue

      <createfolder>
      </createfolder>

      <folder v-for='(folder, index) in store.folders' :key='index' :slugfoldername='index' :folder='folder' @openfolder='openfolder'>
      </folder>

    include snippets/footer