doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/development/style.css')
    title #{pageTitle}

  body
    #app

    script
      | window.locals = {};
      | locals.folderPath = "#{folderPath}";
      | locals.networkInfos = !{JSON.stringify(networkInfos, null, 4)};
      | locals.lang = !{JSON.stringify(lang, null, 4)};
    script(src='/development/main.js')
