@font-face {
  font-family: 'STVitry';
  font-style: normal;
  font-weight: 400;
  src: local('STVitry'), local('STVitry'),
       url('../fonts/STVitry-Regular-web.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/STVitry-Regular-web.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'STVitry';
  font-style: italic;
  font-weight: 400;
  src: local('STVitry'), local('STVitry'),
       url('../fonts/STVitry-Italic-web.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/STVitry-Italic-web.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}