script
  | if (typeof module === 'object') {window.module = module; module = undefined;}

script
  | var app = {};
  | app.slugFolderName = "#{slugFolderName}";
  | app.folderPath = "#{folderPath}";
  | app.lang = !{JSON.stringify(lang)};
  | app.data = !{JSON.stringify(data)};
script(src='/development/main.js')

script
  | if (window.module) module = window.module;