.module--popup.js--popup

script
  | if (typeof module === 'object') {window.module = module; module = undefined;}

script(src='/socket.io/socket.io.js')
script
  | var app = {};
  | app.slugConfName = "#{slugConfName}";
  | app.settings = !{JSON.stringify(settings)};
script( src='/development/plugins.js')
script moment.locale("#{settings.codelang}");
script( src='/development/main.js')

script
  | if (window.module) module = window.module;